body {
  font-family: $poppins, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.wrapper-small {
  width: 75%;
  margin: 0 auto;
  @include for-phone {
    width: 90%;
  }
}

.section-padding {
  padding: 6rem 0;
}

a {
  color: $black;
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  line-height: 1;
}

.btn {
  display: inline-block;
  font-weight: 800;
  color: $pink;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $white;
  border: none;
  padding: 26px 36px;
  font-size: 16px;
  line-height: 1;
  border-radius: 40px;
  transition: 0.2s;
  text-transform: uppercase;
  &.btn-turq {
    background-color: $turq;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &.btn-pink {
    background-color: $pink;
    color: $white;
    &:hover {
      color: $white;
    }
  }
  &.btn-yellow {
    background-color: $yellow;
    color: $black;
    &:hover {
      color: $black;
    }
  }
  &.btn-white-t {
    color: $turq;
    &:hover {
      color: $turq;
    }
  }
  &.btn-img {
    @include for-phone {
      padding: 15px 20px;
      font-size: 13px;
    }
  }
  &.btn-filter {
    background-color: $white;
    color: #303030;
    border: 3px solid #303030;
    &:hover {
      color: $white;
      background-color: #303030;
    }
    &.active {
      color: $white;
      background-color: #303030;
    }
  }
  &:hover {
    color: $pink;
  }
  &:focus {
    box-shadow: none;
  }
  @include for-desktop-xl-up {
    font-size: 24px;
    padding: 35px 42px;
    border-radius: 50px;
  }
  @include for-desktop-xl {
    padding: 22px 33px;
  }
}

.no-laptop {
  @include for-laptop {
    display: none;
    @include for-tablet {
      display: block;
    }
  }
}

$pill-border-radius: 0px !default;
$pill-margin-x: 10px !default;
$pill-margin-y: 15px !default;

$pill-bg: $white !default;
$pill-border: $pink(187, 187, 187) !default;
$pill-font: $pink !default;

$pill-hover-bg: $pink !default;
$pill-hover-border: $pink !default;
$pill-hover-font: $white !default;

$pill-active-bg: $pink !default;
$pill-active-border: $pink !default;
$pill-active-font: $white !default;

$pill-turq-border-radius: 0px !default;
$pill-turq-margin-x: 10px !default;
$pill-turq-margin-y: 15px !default;

$pill-turq-bg: $white !default;
$pill-turq-border: $turq(187, 187, 187) !default;
$pill-turq-font: $turq !default;

$pill-turq-hover-bg: $turq !default;
$pill-turq-hover-border: $turq !default;
$pill-turq-hover-font: $white !default;

$pill-turq-active-bg: $turq !default;
$pill-turq-active-border: $turq !default;
$pill-turq-active-font: $white !default;

.btn-pill {
  border-radius: $pill-border-radius;
  line-height: 1.2;
  border: 1px solid;
  padding: 17px 36px;

  margin-bottom: $pill-margin-y;
  margin-left: $pill-margin-x;

  border-color: $pill-border;
  background-color: $pill-bg;
  color: $pill-font;

  &.active {
    border-color: $pill-active-border;
    background-color: $pill-active-bg;
    color: $pill-active-font;

    box-shadow: none;
  }

  &:hover {
    border-color: $pill-hover-border;
    background-color: $pill-hover-bg;
    color: $pill-hover-font;
  }

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
  &.pill-turq {
    border-radius: $pill-turq-border-radius;
    line-height: 1.2;

    margin-bottom: $pill-turq-margin-y;
    margin-left: $pill-turq-margin-x;

    border-color: $pill-turq-border;
    background-color: $pill-turq-bg;
    color: $pill-turq-font;

    &.active {
      border-color: $pill-turq-active-border;
      background-color: $pill-turq-active-bg;
      color: $pill-turq-active-font;

      box-shadow: none;
    }

    &:hover {
      border-color: $pill-turq-hover-border;
      background-color: $pill-turq-hover-bg;
      color: $pill-turq-hover-font;
    }
  }
  @include for-phone {
    padding: 17px 20px;
  }
}