.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
    border: 2px solid rgba(127,127,127,.3);
    background-color: #fff;
    border-radius: 40px;
    padding: 1rem 2rem;
    width: 100%;
}

.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
    margin: 2em 0 !important;
}

.woocommerce-form-login label {
    width: 100%;
}
.woocommerce-form-register label {
    width: 100%;
}

.woocommerce form .password-input, .woocommerce-page form .password-input{
    width: 100%;
}

.form-control:focus, .wpcf7 .wpcf7-validation-errors:focus, .wpcf7 input:focus[type=color], .wpcf7 input:focus[type=date], .wpcf7 input:focus[type=datetime-local], .wpcf7 input:focus[type=datetime], .wpcf7 input:focus[type=email], .wpcf7 input:focus[type=file], .wpcf7 input:focus[type=month], .wpcf7 input:focus[type=number], .wpcf7 input:focus[type=range], .wpcf7 input:focus[type=search], .wpcf7 input:focus[type=submit], .wpcf7 input:focus[type=tel], .wpcf7 input:focus[type=text], .wpcf7 input:focus[type=time], .wpcf7 input:focus[type=url], .wpcf7 input:focus[type=week], .wpcf7 select:focus, .wpcf7 textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: gba(193, 193, 193, 0.58);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem gba(193, 193, 193, 0.58);
    box-shadow: 0 0 0 0.2rem rgba(193, 193, 193, 0.58);
}